<h1>My Books</h1>

<% if @book_copies.empty? %>
    <h4>You haven’t borrowed any books.</h4>
<% else %>
    <div class="list-group">
      <% @book_copies.each do |book_copy| %>
        <% book = book_copy.book%>
          <div class="list-group-item row">
            <%= link_to books_show_path(book.id), :class => "book-details col-md-9" do %>
                <%= image_tag(book.image_link, class: 'book-thumbnail') %>
                <h4><%= book.title %></h4>
                <h6>By <%= book.author %></h6>
                <% if book.copy_available? %>
                    <span class="label label-success"> Available </span>
                <% else %>
                    <span class="label label-danger"> Not Available </span>
                <% end %>
            <% end %>
            <div class="return-book col-md-3">
              <div class="center-div">
                <%= link_to 'Return', return_book_path(book_copy), data: { confirm: 'Do you want to return?' }, method: :post, class: 'btn btn-sm', id: 'return-book'%>
              </div>
            </div>
          </div>
      <% end %>
    </div>
<% end %>