<div id="user_profile" class="row">

  <div id = "Header_user_profile">
    <span class="glyphicon glyphicon-user"></span>
    <span id="about">Users</span>
  </div>

  <div id="user_options" class="col-md-2">
    <ul class="nav nav-tabs nav-pills nav-stacked ">
      <li class="active"><a href="#all-users" onclick="searchUsers()" onload="searchUsers()" data-toggle="tab">Active Users</a></li>
      <li ><a href="#disabled-users"  onclick="searchDisabledUsers()" role="tab" data-toggle="tab">Disabled Users</a></li>
    </ul>
  </div>

  <div  class="col-md-9">
    <div class="tab-content">
      <div class="tab-pane active" id="all-users">
        <div class="custom-search center-div">
              <div class="input-group">
                <%= text_field_tag :search, params[:search], class: "form-control", placeholder: 'Please enter a user name', onkeypress: "searchUsersOnEnter(event)" %>
                <div class="input-group-btn">
                  <button type="submit" class="btn btn-info" id="search-button" onclick="searchUsers()">
                    <span class="glyphicon glyphicon-search "/>
                  </button>
                </div>
              </div>
        </div>

        <div class="list-group users-list" id="all-users-list">
          <% if @users.empty? and @is_search %>
              <h4>No Users found.</h4>
          <% else %>
              <% @users.each do |user| %>
                  <%= link_to users_show_path(user.id), :class=>"list-group-item" do %>
                      <h4><%= user.name %></h4>
                  <% end %>
              <% end %>
          <% end %>
        </div>

      </div>
      <div class="tab-pane " id="disabled-users">
        <div class="custom-search center-div">
              <div class="input-group">
                <%= text_field_tag :search_disabled, params[:search_disabled], class: "form-control", placeholder: 'Please enter a user name', onkeypress: "searchDisabledUsersOnEnter(event)"%>
                <div class="input-group-btn">
                  <button type="submit" class="btn btn-info" id="search-button" onclick="searchDisabledUsers()">
                    <span class="glyphicon glyphicon-search "/>
                  </button>
                </div>
              </div>
        </div>
        <div class="list-group users-list" id="disabled-users-list">
              <% if @disabled_users.empty? %>
                  <h4>No user is disabled.</h4>
              <% else %>
                  <% @disabled_users.each do |user| %>
                      <%= link_to users_show_path(user.id), :class=>"list-group-item" do %>
                          <h4><%= user.name %></h4>
                      <% end %>
                  <% end %>
              <% end %>
        </div>

      </div>
    </div>
  </div>

</div>