<div class="custom-search center-div">
  <%= form_for(books_path, method: :get) do |f| %>
      <div class="input-group">
        <%= text_field_tag :search, params[:search], class: "form-control", placeholder: 'Search book by title, author, ISBN, publisher or tags' %>
        <div class="input-group-btn">
          <button type="submit" class="btn btn-info" id="search-button">
            <span class="glyphicon glyphicon-search "></span>
          </button>
        </div>
      </div>
  <% end %>
</div>


<div class="center-div view-all-div">
  <%= link_to 'View All', :books_list, id: 'view-all' %>
</div>

<% if @is_search %>
    <% if @book_with_title.empty? && @book_with_author.empty? && @book_with_isbn.empty? %>
        <div class="not-available">
          <div class="label label-primary">
            No books found with :
          </div>
          <div class="label label-info"><%= @search_parameter %></div>
        </div>
    <% else %>
        <% @books.each do |type, books| %>
            <% if !books.empty? %>
                <div class="list-group">
                  <div class="label label-primary">
                    Showing <%= books.size %> books with matching <%= type %> : <%= @search_parameter %>
                  </div>
                  <% books.each do |book| %>
                      <%= link_to books_show_path(book.id), :class => "list-group-item book" do %>
                          <%= render :partial => 'layouts/book_list', :locals => {book: book} %>
                      <% end %>
                  <% end %>
                </div>
            <% end %>
        <% end %>
    <% end %>

<% else %>
    <div class="list-group">
      <% @books.each do |book| %>
          <%= link_to books_show_path(book.id), :class => "list-group-item book" do %>
              <%= render :partial => 'layouts/book_list', :locals => {book: book} %>
          <% end %>
      <% end %>
    </div>
<% end %>
