<div class="custom-search center-div">
  <%= form_for(books_path, method: :get) do |f| %>
      <div class="input-group">
        <%= text_field_tag :search, params[:search], class: "form-control", placeholder: 'Please enter a book name' %>
        <div class="input-group-btn">
          <button type="submit" class="btn btn-info" id="search-button">
            <span class="glyphicon glyphicon-search "/>
          </button>
        </div>
      </div>
  <% end %>
</div>


<div class="center-div view-all-div">
  <%= link_to 'View All', :books_list, id: 'view-all' %>
</div>

<% if @is_search %>
    <% if @books.empty? %>
        <div class="not-available">
          <div class="label label-primary">
            No books found with the title :
          </div>
          <div class="label label-info"><%= @search_parameter %></div>
        </div>
    <% else %>
        <div class="search-msg">
          <div class="label label-primary">
            Showing <%= @books.size %> books for :
            <span class="label label-info"><%= @search_parameter %></span>
          </div>
        </div>
    <% end %>
<% end %>
<div class="list-group">
    <% @books.each do |book| %>
        <%= link_to books_show_path(book.id), :class => "list-group-item book" do %>
            <%= render :partial => 'layouts/book_list', :locals => { book: book}  %>
        <% end %>
    <% end %>
</div>
