<div class="search">
  <%= form_for(books_path, method: :get) do |f| %>
    <%= text_field_tag :search, params[:search], class:"search_box" %>
    <button type="submit" id="search_button">
      <span class="glyphicon glyphicon-search "/>
    </button>
  <% end %>
</div>

<div class="col-md-6 col-md-offset-6">
  <%= link_to 'View All', :books_list %>
</div>

<div class="list-group">
  <% if @books.empty? and @is_search%>
      <h4>No result found..!!!</h4>
  <% else %>
    <% @books.each do |book| %>
      <a href="#" class="list-group-item">
        <h4 ><%= book.title %></h4>
        <h6 >By <%= book.author %></h6>
      </a>
    <% end %>
  <% end %>
</div>